# 仮想環境
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

input/*
output/*
result/*
done/*

!input/.gitkeep
!output/.gitkeep
!result/.gitkeep
!done/.gitkeep

*.swp
*.swo
*.bak
*.tmp

config.ps1

.DS_Store
Thumbs.db
desktop.ini

*.mp4