# 仮想環境
.venv/
env/
ENV/

# キャッシュ・ビルド生成物
__pycache__/
*.pyc
*.pyo
*.pyd

# 一時ファイル
tempCodeRunnerFile.py

*.swp
*.swo
*.bak
*.tmp

# 個人設定
config.ps1
db_config.py

# OS依存の管理ファイル
.DS_Store
Thumbs.db
desktop.ini

# 動画ファイル
*.mp4